@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Press+Start+2P&family=Sintony&display=swap');
/* font-family: 'Monoton', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Sintony', sans-serif; */
body {
    margin: 0;
}
header {
    text-align: center;
    margin-top: 2%;
}
.cheets {
    border-radius: 20px;
    margin-left: 15px;
}
main {
    background-color: black;
    color:#F05033;
    height: 250vh;
    
    
}
h1 {
    text-align: center;
    font-size: 5em;
    font-family: 'Press Start 2P', cursive;
    color:#F05033;
    padding-top: 2%;
    
}
h3 {
    font-size: 4em;
    font-family: 'Monoton', cursive;
    word-spacing: 10px;
    padding-left: 2%;
    padding-top: 3%;
    

}
span {
    color: white;
}
p {
    word-spacing: 8px;
    font-size: 1.7em;
}
article {
    padding-left: 5%;
}
h4 {
    font-size: 4em;
    font-family: 'Monoton', cursive;
    word-spacing: 10px;
    padding-left: 2%;
    padding-top: 3%;
    
}





    
